# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Environment
*.env
*.venv

data/*
!data/sample_sales_data.csv
